In [1]:
#Dependencies
import pymongo
import pandas as pd
import csv
import os
from pymongo import MongoClient

from datetime import datetime as dt

## Data Extraction

Data Extracted from CSV to DataFrame

In [2]:
# Financial Data 2014-2018 C:\Users\sruth\LearnJS\Projects\Draft_Ideas\Data\Financial
# https://www.kaggle.com/cnic92/200-financial-indicators-of-us-stocks-20142018
    
data1= os.path.join('Data','Financial','2018_Financial_Data.csv')
finanace2018_df = pd.read_csv(data1)


data2= os.path.join('Data','Financial','2017_Financial_Data.csv')
finanace2017_df = pd.read_csv(data2)

data3= os.path.join('Data','Financial','2016_Financial_Data.csv')
finanace2016_df = pd.read_csv(data3)

data4= os.path.join('Data','Financial','2015_Financial_Data.csv')
finanace2015_df = pd.read_csv(data4)

data5= os.path.join('Data','Financial','2014_Financial_Data.csv')
finanace2014_df = pd.read_csv(data5)

In [3]:
# Selecting columns needed
finanace2018_df = finanace2018_df[['Unnamed: 0','Revenue','Revenue Growth','Gross Profit', 'Profit Margin',  'grossProfitMargin', 'netProfitMargin','Total assets','Total debt' ,'Total liabilities','EPS','Dividend per Share','Sector']]
finanace2018_df=finanace2018_df.rename(columns={'Unnamed: 0': 'ticker'})
# finanace2018_df

In [4]:
finanace2017_df = finanace2017_df[['Unnamed: 0','Revenue','Revenue Growth','Gross Profit', 'Profit Margin',  'grossProfitMargin', 'netProfitMargin','Total assets','Total debt' ,'Total liabilities','EPS','Dividend per Share','Sector']]
finanace2017_df=finanace2017_df.rename(columns={'Unnamed: 0': 'ticker'})
# finanace2017_df

In [5]:
finanace2016_df = finanace2016_df[['Unnamed: 0','Revenue','Revenue Growth','Gross Profit', 'Profit Margin',  'grossProfitMargin', 'netProfitMargin','Total assets','Total debt' ,'Total liabilities','EPS','Dividend per Share','Sector']]
finanace2016_df=finanace2016_df.rename(columns={'Unnamed: 0': 'ticker'})
# finanace2016_df

In [6]:
finanace2015_df = finanace2015_df[['Unnamed: 0','Revenue','Revenue Growth','Gross Profit', 'Profit Margin',  'grossProfitMargin', 'netProfitMargin','Total assets','Total debt' ,'Total liabilities','EPS','Dividend per Share','Sector']]
finanace2015_df=finanace2015_df.rename(columns={'Unnamed: 0': 'ticker'})
# finanace2015_df

In [7]:
finanace2014_df = finanace2014_df[['Unnamed: 0','Revenue','Revenue Growth','Gross Profit', 'Profit Margin',  'grossProfitMargin', 'netProfitMargin','Total assets','Total debt' ,'Total liabilities','EPS','Dividend per Share','Sector']]
finanace2014_df=finanace2014_df.rename(columns={'Unnamed: 0': 'ticker'})
# finanace2014_df

Top 500 stock tickers based on S&P 2019

In [8]:
# https://datahub.io/core/s-and-p-500-companies#resource-s-and-p-500-companies_zip
# Top 500 companies as listed by S& P 500 in 2019
top500= os.path.join('Data','S&P500','S&P500.csv')
top500_df = pd.read_csv(top500)
# top500_df

In [9]:
# # Top 500 Stock tickers to list
list_topstocks=top500_df['Symbol'].tolist()

## Transform the data extracted

## 2018 Financial Indicator of Top 500 shares (based on S&P500)

In [10]:
#2018 Financial indicator of top 500 stocks 
top500_2018 =finanace2018_df.loc[finanace2018_df['ticker'].isin(list_topstocks)]
top500_2018

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
0,CMCSA,9.450700e+10,0.1115,9.450700e+10,0.124,1.000000,0.124128,2.516840e+11,1.117430e+11,1.791820e+11,2.56,0.917,Consumer Cyclical
1,KMI,1.414400e+10,0.0320,6.856000e+09,0.105,0.484729,0.113758,7.886600e+10,3.732400e+10,4.366900e+10,0.66,0.725,Energy
2,INTC,7.084800e+10,0.1289,4.373700e+10,0.297,0.617336,0.297157,1.279630e+11,2.635900e+10,5.340000e+10,4.57,1.200,Technology
3,MU,3.039100e+10,0.4955,1.789100e+10,0.465,0.588694,0.465105,4.337600e+10,4.639000e+09,1.011200e+10,12.27,0.000,Technology
4,GE,1.216150e+11,0.0285,2.615400e+10,-0.187,0.215056,-0.183818,3.110720e+11,1.036000e+11,2.595910e+11,-2.62,0.370,Industrials
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2052,AZO,1.122108e+10,0.0305,5.973746e+09,0.119,0.532368,0.119199,9.346980e+09,5.005930e+09,1.086734e+10,49.59,0.000,Consumer Cyclical
2079,ANSS,1.293636e+09,0.1811,1.137751e+09,0.324,0.879499,0.324183,3.265964e+09,0.000000e+00,6.164170e+08,4.99,0.000,Technology
2173,AMG,2.378400e+09,0.0318,2.378400e+09,0.102,1.000000,0.102422,8.219100e+09,1.829600e+09,3.250500e+09,4.55,1.200,Financial Services
2228,SNPS,3.121058e+09,0.1454,2.385160e+09,0.139,0.764215,0.138581,6.145974e+09,4.693040e+08,2.660959e+09,2.90,0.000,Technology
2558,IPGP,1.459874e+09,0.0362,8.002680e+08,0.277,0.548176,0.276755,2.574450e+09,4.537800e+07,3.682150e+08,7.55,0.000,Technology

Dropping the rows which has null values in Revenue column

In [11]:
top500_2018.loc[top500_2018['EPS'].isna()]

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
177,FOX,NaN,NaN,3.648000e+09,0.147,NaN,NaN,1.312100e+10,1.952300e+10,3.252000e+09,NaN,0.36,Consumer Cyclical

In [12]:
top500_2018= top500_2018.dropna(subset = ["Revenue"])

Fill NaN with NULL to get a valid JSON format

In [13]:
top500_2018=top500_2018.fillna('NULL')

In [14]:
top500_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 475 entries, 0 to 2558
Data columns (total 13 columns):
ticker                475 non-null object
Revenue               475 non-null float64
Revenue Growth        475 non-null object
Gross Profit          475 non-null float64
Profit Margin         475 non-null object
grossProfitMargin     475 non-null object
netProfitMargin       475 non-null object
Total assets          475 non-null float64
Total debt            475 non-null object
Total liabilities     475 non-null float64
EPS                   475 non-null float64
Dividend per Share    475 non-null object
Sector                475 non-null object
dtypes: float64(5), object(8)
memory usage: 52.0+ KB

In [15]:
# path2018= os.path.join('Data', 'output', 'financial_data2018.csv')
# top500_2018.to_csv(path2018)

## 2017 Financial Indicator of Top 500 shares (based on S&P500)

In [16]:
#2017 Financial indicator of top 500 stocks 
top500_2017 =finanace2017_df.loc[finanace2017_df['ticker'].isin(list_topstocks)]
top500_2017

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
0,PG,6.505800e+10,-0.0037,3.242000e+10,0.236,0.498325,0.235574,1.204060e+11,3.159200e+10,6.462800e+10,5.800,2.698,Consumer Defensive
2,KR,1.153370e+11,0.0501,2.583500e+10,0.017,0.223996,0.017124,3.650500e+10,1.407700e+10,2.979500e+10,2.080,0.450,Consumer Defensive
4,GIS,1.561980e+10,-0.0570,5.567800e+09,0.106,0.356458,0.106115,2.181260e+10,9.481700e+09,1.621620e+10,2.820,1.920,Consumer Defensive
5,PM,7.809800e+10,0.0420,1.831600e+10,0.077,0.234526,0.077275,4.296800e+10,3.433900e+10,5.319800e+10,3.880,4.220,Consumer Defensive
6,KO,3.541000e+10,-0.1541,2.215500e+10,0.035,0.625671,0.035244,8.789600e+10,4.768500e+10,6.891900e+10,0.293,1.480,Consumer Defensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4590,GRMN,3.121560e+09,0.0249,1.797941e+09,0.227,0.575975,0.227132,4.948289e+09,0.000000e+00,1.095870e+09,3.770,2.550,Technology
4610,AME,4.300170e+09,0.1198,1.438800e+09,0.158,0.334591,0.158475,7.796064e+09,2.174289e+09,3.768431e+09,2.960,0.360,Technology
4636,ANSS,1.095250e+09,0.1080,9.450860e+08,0.237,0.862895,0.236705,2.941623e+09,0.000000e+00,6.957920e+08,3.050,0.000,Technology
4661,SNPS,2.724880e+09,0.1248,2.070696e+09,0.050,0.759922,0.050117,5.396414e+09,1.439870e+08,2.116690e+09,0.910,0.000,Technology
4718,IPGP,1.408889e+09,0.4002,7.969110e+08,0.247,0.565631,0.246729,2.367255e+09,4.898200e+07,3.449330e+08,6.500,0.000,Technology

In [17]:
top500_2017.loc[top500_2017['Revenue'].isna()]

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
494,ESRX,NaN,NaN,NaN,NaN,NaN,NaN,5.425600e+10,1.498200e+10,3.613000e+10,7.79,NaN,Healthcare
524,AET,NaN,NaN,NaN,NaN,NaN,NaN,5.515100e+10,8.160000e+09,3.931400e+10,5.71,NaN,Healthcare
540,EVHC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthcare

In [18]:
top500_2017= top500_2017.dropna(subset = ["Revenue"])

In [19]:
top500_2017=top500_2017.fillna('NULL')
top500_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 475 entries, 0 to 4718
Data columns (total 13 columns):
ticker                475 non-null object
Revenue               475 non-null float64
Revenue Growth        475 non-null object
Gross Profit          475 non-null float64
Profit Margin         475 non-null object
grossProfitMargin     475 non-null object
netProfitMargin       475 non-null object
Total assets          475 non-null float64
Total debt            475 non-null object
Total liabilities     475 non-null float64
EPS                   475 non-null float64
Dividend per Share    475 non-null object
Sector                475 non-null object
dtypes: float64(5), object(8)
memory usage: 52.0+ KB

## 2016 Financial Indicator of Top 500 shares (based on S&P500)

In [20]:
#2016 Financial indicator of top 500 stocks 
top500_2016 =finanace2016_df.loc[finanace2016_df['ticker'].isin(list_topstocks)]
top500_2016

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
0,PG,6.529900e+10,-0.0770,3.239000e+10,0.161,0.496026,0.160921,1.271360e+11,3.059800e+10,6.915300e+10,3.80,2.658,Consumer Defensive
2,KR,1.098300e+11,0.0126,2.433400e+10,0.019,0.221561,0.018565,3.389700e+10,1.207900e+10,2.709900e+10,2.09,0.500,Consumer Defensive
4,GIS,1.656310e+10,-0.0605,5.829500e+09,0.102,0.351957,0.102481,2.171230e+10,8.430900e+09,1.555960e+10,2.83,1.780,Consumer Defensive
5,PM,7.495300e+10,0.0141,1.729400e+10,0.093,0.230731,0.092952,3.685100e+10,2.906700e+10,4.775100e+10,4.48,4.120,Consumer Defensive
6,KO,4.186300e+10,-0.0549,2.539800e+10,0.156,0.606693,0.155913,8.727000e+10,4.570900e+10,6.405000e+10,1.51,1.400,Consumer Defensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4443,GRMN,3.045797e+09,0.0800,1.688525e+09,0.170,0.554379,0.169980,4.525133e+09,0.000000e+00,1.107130e+09,2.74,2.550,Technology
4462,AME,3.840087e+09,-0.0338,1.254588e+09,0.133,0.326708,0.133371,7.100674e+09,2.341565e+09,3.844161e+09,2.20,0.360,Technology
4487,ANSS,9.884650e+08,0.0485,8.416050e+08,0.269,0.851426,0.268736,2.800526e+09,0.000000e+00,5.921210e+08,3.05,0.000,Technology
4511,SNPS,2.422532e+09,0.0804,1.879570e+09,0.110,0.775870,0.110143,5.240365e+09,2.050000e+08,2.045219e+09,1.76,0.000,Technology
4565,IPGP,1.006173e+09,0.1164,5.522400e+08,0.259,0.548852,0.259152,1.789999e+09,4.082300e+07,2.322750e+08,4.91,0.000,Technology

In [21]:
top500_2016.loc[top500_2016['Revenue'].isna()]

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
528,EVHC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthcare
1845,GPN,NaN,NaN,1.057859e+09,NaN,NaN,NaN,1.066435e+10,4.893722e+09,7.885008e+09,NaN,NaN,Industrials

In [22]:
top500_2016= top500_2016.dropna(subset = ["Revenue"])

In [23]:
top500_2016=top500_2016.fillna('NULL')
top500_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 473 entries, 0 to 4565
Data columns (total 13 columns):
ticker                473 non-null object
Revenue               473 non-null float64
Revenue Growth        473 non-null object
Gross Profit          473 non-null float64
Profit Margin         473 non-null object
grossProfitMargin     473 non-null object
netProfitMargin       473 non-null object
Total assets          473 non-null float64
Total debt            473 non-null object
Total liabilities     473 non-null float64
EPS                   473 non-null float64
Dividend per Share    473 non-null object
Sector                473 non-null object
dtypes: float64(5), object(8)
memory usage: 51.7+ KB

## 2015 Financial Indicator of Top 500 shares (based on S&P500)

In [24]:
#2015 Financial indicator of top 500 stocks 
top500_2015 =finanace2015_df.loc[finanace2015_df['ticker'].isin(list_topstocks)]
top500_2015

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
0,PG,7.074900e+10,-0.0491,3.369300e+10,0.099,0.476233,0.099450,1.294950e+11,3.034500e+10,6.644500e+10,2.50,2.595,Consumer Defensive
2,KR,1.084650e+11,0.1026,2.295300e+10,0.016,0.211617,0.015931,3.049700e+10,1.159700e+10,2.505500e+10,1.74,0.340,Consumer Defensive
4,GIS,1.763030e+10,-0.0156,5.949200e+09,0.069,0.337442,0.069273,2.183200e+10,9.191500e+09,1.566040e+10,2.02,1.670,Consumer Defensive
5,PM,7.390800e+10,-0.0774,1.742900e+10,0.093,0.235820,0.092994,3.395600e+10,2.848000e+10,4.543200e+10,4.42,4.040,Consumer Defensive
6,KO,4.429400e+10,-0.0370,2.681200e+10,0.166,0.605319,0.165959,8.999600e+10,4.411600e+10,6.423200e+10,1.69,1.320,Consumer Defensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782,GRMN,2.820270e+09,-0.0176,1.538704e+09,0.162,0.545587,0.161767,4.499391e+09,0.000000e+00,1.154265e+09,2.39,2.010,Technology
3799,AME,3.974295e+09,-0.0119,1.356308e+09,0.149,0.341270,0.148670,6.660450e+09,1.938040e+09,3.405824e+09,2.46,0.360,Technology
3823,ANSS,9.427530e+08,0.0072,7.955070e+08,0.268,0.843813,0.267855,2.729904e+09,0.000000e+00,5.354770e+08,2.82,0.000,Technology
3847,SNPS,2.242211e+09,0.0898,1.723291e+09,0.101,0.768568,0.100764,5.045739e+09,2.050000e+08,1.911750e+09,1.46,0.000,Technology
3900,IPGP,9.012650e+08,0.1707,4.918770e+08,0.269,0.545763,0.268682,1.453429e+09,1.966700e+07,1.927640e+08,4.60,0.000,Technology

In [25]:
top500_2015.loc[top500_2015['Revenue'].isna()]

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
603,PRGO,NaN,NaN,7.462330e+08,NaN,NaN,NaN,1.934960e+10,5.400200e+09,9.242800e+09,NaN,NaN,Healthcare
1559,DE,NaN,NaN,8.605800e+09,NaN,NaN,NaN,5.794760e+10,3.695840e+10,5.119000e+10,NaN,NaN,Industrials

In [26]:
top500_2015= top500_2015.dropna(subset = ["Revenue"])

In [27]:
top500_2015=top500_2015.fillna('NULL')
top500_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 467 entries, 0 to 3900
Data columns (total 13 columns):
ticker                467 non-null object
Revenue               467 non-null float64
Revenue Growth        467 non-null object
Gross Profit          467 non-null float64
Profit Margin         467 non-null object
grossProfitMargin     467 non-null object
netProfitMargin       467 non-null object
Total assets          467 non-null float64
Total debt            467 non-null object
Total liabilities     467 non-null float64
EPS                   467 non-null object
Dividend per Share    467 non-null object
Sector                467 non-null object
dtypes: float64(4), object(9)
memory usage: 51.1+ KB

## 2014 Financial Indicator of Top 500 shares (based on S&P500)

In [28]:
#2014 Financial indicator of top 500 stocks 
top500_2014 =finanace2014_df.loc[finanace2014_df['ticker'].isin(list_topstocks)]
top500_2014

,ticker,Revenue,Revenue Growth,Gross Profit,Profit Margin,grossProfitMargin,netProfitMargin,Total assets,Total debt,Total liabilities,EPS,Dividend per Share,Sector
0,PG,7.440100e+10,-0.0713,3.537100e+10,0.156,0.475410,0.156490,1.442660e+11,3.541700e+10,7.429000e+10,4.19,2.448,Consumer Defensive
2,KR,9.837500e+10,0.0182,2.023700e+10,0.015,0.205713,0.015441,2.928100e+10,1.131000e+10,2.388600e+10,1.47,0.307,Consumer Defensive
4,GIS,1.790960e+10,0.0076,6.369800e+09,0.102,0.355664,0.101867,2.314570e+10,8.785800e+09,1.515620e+10,2.90,1.550,Consumer Defensive
5,PM,8.010600e+10,0.0010,1.933100e+10,0.094,0.241318,0.093539,3.518700e+10,2.945500e+10,4.639000e+10,4.76,3.880,Consumer Defensive
6,KO,4.599800e+10,-0.0183,2.810900e+10,0.154,0.611092,0.154311,9.202300e+10,4.174500e+10,6.146200e+10,1.62,1.220,Consumer Defensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3490,GRMN,2.870658e+09,0.0907,1.604412e+09,0.127,0.558900,0.126874,4.693303e+09,0.000000e+00,1.289936e+09,1.89,1.890,Technology
3506,AME,4.021964e+09,0.1190,1.361223e+09,0.145,0.338447,0.145317,6.420963e+09,1.714026e+09,3.181402e+09,2.39,0.330,Technology
3529,ANSS,9.360210e+08,0.0868,7.826350e+08,0.272,0.836130,0.272099,2.752879e+09,0.000000e+00,5.353780e+08,2.77,0.000,Technology
3550,SNPS,2.057472e+09,0.0485,1.600587e+09,0.126,0.777939,0.125943,4.775499e+09,7.500000e+07,1.719329e+09,1.67,0.000,Technology
3598,IPGP,7.698320e+08,0.1880,4.165180e+08,0.260,0.541051,0.260375,1.210887e+09,3.563100e+07,1.643260e+08,3.85,0.000,Technology

In [29]:
top500_2014.loc[top500_2014['Revenue'].isna()]

Empty DataFrame
Columns: [ticker, Revenue, Revenue Growth, Gross Profit, Profit Margin, grossProfitMargin, netProfitMargin, Total assets, Total debt, Total liabilities, EPS, Dividend per Share, Sector]
Index: []

In [30]:
top500_2014= top500_2014.dropna(subset = ["Revenue"])

In [31]:
top500_2014=top500_2014.fillna('NULL')
top500_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 3598
Data columns (total 13 columns):
ticker                463 non-null object
Revenue               463 non-null float64
Revenue Growth        463 non-null object
Gross Profit          463 non-null float64
Profit Margin         463 non-null float64
grossProfitMargin     463 non-null object
netProfitMargin       463 non-null object
Total assets          463 non-null object
Total debt            463 non-null object
Total liabilities     463 non-null object
EPS                   463 non-null object
Dividend per Share    463 non-null object
Sector                463 non-null object
dtypes: float64(3), object(10)
memory usage: 50.6+ KB

## Read individual stock data from CSV (filter them to top 500) and append them to a single DataFrame and filter for dates 2014-18

In [32]:
stocklist_2018= top500_2018['ticker'].tolist()
# stocklist_2018

In [33]:
stock_df = pd.DataFrame()
for i in range(len(stocklist_2018)):
    data= f'Data/Individual_stocks/{stocklist_2018[i]}.csv'
    try:
        df = pd.read_csv(data)
        df["Year"]=pd.DatetimeIndex(df['date']).year
        df["ticker"]= stocklist_2018[i]
        df1=df.loc[df['Year']> 2013 ]
        stock_df=stock_df.append(df1)
    except:
        print(f"Individual stock {stocklist_2018[i] } file not found!")
        pass

Individual stock CA file not found!
Individual stock COL file not found!

In [34]:
stock_df

,date,volume,open,close,high,low,adjclose,Year,ticker
0,2019-04-18,13959300,42.740002,42.430000,42.830002,42.040001,42.430000,2019,CMCSA
1,2019-04-17,15338700,42.139999,42.570000,42.639999,41.889999,42.570000,2019,CMCSA
2,2019-04-16,10053600,41.840000,41.970001,42.180000,41.509998,41.970001,2019,CMCSA
3,2019-04-15,12729100,41.320000,41.779999,41.799999,41.259998,41.779999,2019,CMCSA
4,2019-04-12,11536400,41.070000,41.299999,41.330002,40.950001,41.299999,2019,CMCSA
...,...,...,...,...,...,...,...,...,...
1328,2014-01-08,313900,74.089996,73.739998,74.550003,73.480003,73.739998,2014,IPGP
1329,2014-01-07,293500,74.599998,74.089996,75.099998,73.790001,74.089996,2014,IPGP
1330,2014-01-06,529700,75.099998,74.419998,75.980003,73.820000,74.419998,2014,IPGP
1331,2014-01-03,292000,76.459999,75.110001,76.730003,75.000000,75.110001,2014,IPGP
1332,2014-01-02,204200,76.889999,76.160004,77.570000,75.330002,76.160004,2014,IPGP

In [35]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625608 entries, 0 to 1332
Data columns (total 9 columns):
date        625608 non-null object
volume      625608 non-null int64
open        625608 non-null float64
close       625608 non-null float64
high        625608 non-null float64
low         625608 non-null float64
adjclose    625608 non-null float64
Year        625608 non-null int64
ticker      625608 non-null object
dtypes: float64(5), int64(2), object(2)
memory usage: 47.7+ MB

Codes used for testing Flask app

In [29]:
# stock_df_amzn=stock_df.loc[stock_df['ticker']== 'PG']
# stock_df_amzn

In [30]:
# stock_df_amzn.info()

In [31]:
# type(stock_df_amzn['date'][0])

In [32]:
#  stock_df_amzn['date']  = pd.to_datetime(stock_df_amzn['date'], format='%Y-%m-%d', errors='coerce')

In [33]:
#  stock_df_amzn['date']

In [34]:
#  pd.DataFrame(stock_df_amzn['date']).info()

In [35]:
# resample_df = amzn_df.resample('M',on ='date').mean()
# stock_df_amzn_mean=stock_df_amzn.resample('M', on = 'date').mean()
# stock_df_amzn_mean

In [36]:
# stock_df_amzn_mean.info()

In [37]:
# stock_df_amzn_mean_dict= stock_df_amzn_mean.to_dict('records')
# stock_df_amzn_mean_dict

In [38]:
# print(jsonify(stock_df_amzn_mean_dict))

In [39]:
# type(stock_df_amzn['date'][0])

In [40]:
# stock_df_amzn['date']  =  pd.to_datetime(stock_df_amzn['date'],unit='s')

In [41]:
# pd.date_range(start='1/1/2018', periods=5, freq='M')
# DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
#                '2018-05-31'],
#               dtype='datetime64[ns]', freq='M')

In [42]:
# filtered= stock_df_amzn.resample('D', level = 0).mean()

In [44]:
#TEST 
# data= f'Data/Individual_stocks/{stocklist_2018[1]}.csv'
# #   stock_df.append(pd.read_csv(data))
# df = pd.read_csv(data)
# df["Year"]=pd.DatetimeIndex(df['date']).year
# df["ticker"]= stocklist_2018[1]
# df1=df.loc[df['Year']> 2013 ]
# df1

Writing the dataframe to a CSV

In [36]:
# path1= os.path.join('Data', 'output', 'stock.csv')
# stock_df.to_csv(path1)

Convert the DataFrames of 500 stock to a dictionary

In [36]:
stock_dict = stock_df.to_dict('records')
# stock_dict

In [37]:
financial2018_dict=top500_2018.to_dict('records')
# financial2018_dict

In [38]:
financial2017_dict=top500_2017.to_dict('records')
# financial2017_dict

In [39]:
financial2016_dict=top500_2016.to_dict('records')
# financial2016_dict

In [40]:
financial2015_dict=top500_2015.to_dict('records')
# financial2015_dict

In [41]:
financial2014_dict=top500_2014.to_dict('records')
# financial2014_dict

In [42]:
top500_df
top500_dict=top500_df.to_dict('records')
# top500_dict

In [44]:
# path2= os.path.join('Data', 'output', 'financial_ind2018.csv')
# top500_2018.to_csv(path2)

## Connect to Mongo DB and pushing the data to database

In [80]:
conn = 'mongodb+srv://stockUser:stockUser2020@cluster0-h88wh.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)
db = client.DataBase_stocks

Pushing S&P 500 company details to Mongo Collection name:all_company

In [81]:
db.all_company.insert_many(top500_dict)

Pushing Financial metadata for each year. Collection name top500_2014/2015/2016/2017/2018

In [131]:
db.top500_2014.insert_many(financial2014_dict)

In [133]:
db.top500_2015.insert_many(financial2015_dict)

In [117]:
db.top500_2016.insert_many(financial2016_dict)

In [110]:
db.top500_2017.insert_many(financial2017_dict)

In [103]:
db.top500_2018.insert_many(financial2018_dict)

Data Base name: stockDB. Collection : all_stocks

In [ ]:
db.all_stock.insert_many(stock_dict)